* , ::after, ::before{
  box-sizing: inherit;
  margin: 0;
  padding:0;
}

html{
    font-size: 15px;  
    box-sizing: border-box;
}

:root{
    --Bright-orange: hsl(31, 77%, 52%);
    --Dark-cyan: hsl(184, 100%, 22%);
    --Very-dark-cyan: hsl(179, 100%, 13%);
    --Transparent-white: hsla(0, 0%, 100%, 0.75);
    --Very-light-gray: hsl(0, 0%, 95%);
   
}
@media screen and (min-width: 560px) {
    .columns {
       display: flex;
       flex-direction: row !important;
       align-items: center;
       justify-content: center;
       height: 90vh;
        }   
    .attribution{
    margin: -60px !important;
    }
    .col1{
        border-radius: 6px 0 0 6px !important;
    }
    .col3{
        border-radius: 0 6px 6px 0 !important;
    }
   
}

body{
    background-color: var(--Very-light-gray);
    color:var(--Transparent-white);
    font-family: 'Lexend Deca', sans-serif;  
    font-weight: 400; 

}

.col1{
    background-color: var(--Bright-orange);  
    border-top-left-radius: 6px;
    border-top-right-radius: 6px; 
}

.col2{
    background-color: var(--Dark-cyan);
}

.col3{
    background-color: var(--Very-dark-cyan);   
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.col1, .col2, .col3{
    max-width: 280px;
    padding:35px 30px;
   
}

.columns{
    
    margin: 50px auto;
    line-height: 2rem; 
    flex-direction: column;
    display:flex;
    align-items: center;   
}

button{
    border-radius: 25px;
    padding: 10px 30px;
    border: solid 3px var(--Very-light-gray);
    margin-top: 60px;   
}
button:hover{
    cursor: pointer;
    background-color: transparent;
    color: var(--Very-light-gray) !important;
}

.col1 button{
    color:var(--Bright-orange);
}

.col2 button{
    color:var(--Dark-cyan);
}

.col3 button{
    color:var(--Very-dark-cyan);   
}

h1{
    padding: 35px 0;
    font-family: "Big Shoulders Display", cursive;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 3rem;
    color: var(--Very-light-gray);
}
.paragraph{
    min-height: 200px;
}

.attribution{
    margin-top: 20px;
    text-align: center;
    
}

.attribution p{
    color: black;
}